################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/engine/out/build/x64-Debug/VSInheritEnvironments.txt
/engine/out/build/x64-Debug/Testing/Temporary/LastTest.log
/engine/out/build/x64-Debug/Testing/Temporary
/engine/out/build/x64-Debug/main.pdb
/engine/out/build/x64-Debug/main.ilk
/engine/out/build/x64-Debug/main.exe
/engine/out/build/x64-Debug/cmake_install.cmake
/engine/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/engine/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
/engine/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
/engine/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/engine/out/build/x64-Debug/CMakeFiles/ShowIncludes
/engine/out/build/x64-Debug/CMakeFiles/rules.ninja
/engine/out/build/x64-Debug/CMakeFiles/main.dir/vc140.pdb
/engine/out/build/x64-Debug/CMakeFiles/main.dir/source.cpp.obj
/engine/out/build/x64-Debug/CMakeFiles/main.dir/manifest.res
/engine/out/build/x64-Debug/CMakeFiles/main.dir/manifest.rc
/engine/out/build/x64-Debug/CMakeFiles/main.dir/intermediate.manifest
/engine/out/build/x64-Debug/CMakeFiles/main.dir/embed.manifest
/engine/out/build/x64-Debug/CMakeFiles/main.dir
/engine/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
/engine/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/engine/out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
/engine/out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
/engine/out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/engine/out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdCXX
/engine/out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
/engine/out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
/engine/out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/engine/out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC
/engine/out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CMakeSystem.cmake
/engine/out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CMakeRCCompiler.cmake
/engine/out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/engine/out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CMakeDetermineCompilerABI_C.bin
/engine/out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CMakeCXXCompiler.cmake
/engine/out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CMakeCCompiler.cmake
/engine/out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2
/engine/out/build/x64-Debug/CMakeFiles
/engine/out/build/x64-Debug/CMakeCache.txt
/engine/out/build/x64-Debug/build.ninja
/engine/out/build/x64-Debug/.ninja_log
/engine/out/build/x64-Debug/.ninja_deps
/engine/out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-33d80e5be97fd82d805b.json
/engine/out/build/x64-Debug/.cmake/api/v1/reply/target-main-Debug-26f171cef22ad9f3cc99.json
/engine/out/build/x64-Debug/.cmake/api/v1/reply/index-2022-03-10T11-51-53-0153.json
/engine/out/build/x64-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/engine/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-deb23ce44b3a716a9815.json
/engine/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-7206608f583d9294bbeb.json
/engine/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-c6ff76a44cbc1088ed62.json
/engine/out/build/x64-Debug/.cmake/api/v1/reply
/engine/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/engine/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS
/engine/out/build/x64-Debug/.cmake/api/v1
/engine/out/build/x64-Debug
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/RUSENG/v17/Current/ipch/AutoPCH/bd1bd78a8a248518/RUSENG.ipch
/.vs/RUSENG/v17/Current/ipch/AutoPCH/bd1bd78a8a248518
/.vs/RUSENG/v17/Current/ipch/AutoPCH/49aeefeaed964bda/FILEHELPER.ipch
/.vs/RUSENG/v17/Current/Browse.VC.opendb
/.vs/RUSENG/v17/Current/Browse.VC.db-wal
/.vs/RUSENG/v17/Current/Browse.VC.db-shm
/.vs/RUSENG/v17/Current/Browse.VC.db
/.vs/RUSENG/v17/.suo
/.vs/RUSENG/project-colors.json
/.vs/ProjectSettings.json
/.vs/cmake.db
/.vs/CMake Overview
